<div class="images-wrapper-container">

  <div class="images-grid" [class.is-dragging]="dragging">
    @for (imageState of imageStates; track $index; let idx = $index) {
      <div
        class="uploader-instance"
        [class.drag-source]="dragging && idx === dragFrom"
        [class.drop-target]="dragging && idx === dropTarget && idx !== dragFrom"
        (pointerdown)="onItemPointerDown($event, idx)"
        (pointermove)="onPointerMove($event)"
        (pointerup)="onPointerUp($event)"
        (pointercancel)="onPointerUp($event)"
        (contextmenu)="$event.preventDefault()">
        <app-image-item [imageState]="imageState" [reorderMode]="dragging">
        </app-image-item>
      </div>
    }
  </div>

  @if (dragging) {
    <div
      class="drag-clone"
      [style.width.px]="dragCloneSize"
      [style.height.px]="dragCloneSize"
      [style.left.px]="dragCloneX - dragCloneSize / 2"
      [style.top.px]="dragCloneY - dragCloneSize / 2">
      <app-image-item [imageState]="imageStates[dragFrom]" [reorderMode]="true">
      </app-image-item>
    </div>
  }

  <app-image-uploader-modal
    #modal
    [index]="selectedImageIndex"
    [imageState]="selectedImageIndex >= 0 ? imageStates[selectedImageIndex] : emptyImageState"
    (imageStateChange)="onModalImageStateChange($event)"
    (modalClosed)="onModalClosed()">
  </app-image-uploader-modal>

</div>
