.images-wrapper-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding: 20px;
   gap: 10px 10px;
}

.uploader-instance {
   width: 150px;
   height: 150px;
}